# Rider
.idea/
*.DotSettings.user

# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.csproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json

# macOS
.DS_Store

# Windows
Thumbs.db

# Test Results
TestResults/
*.trx

# SQL Server files
*.mdf
*.ldf
*.ndf

# Azure App Service
*.pubxml
*.azurepubxml

# Others
*.Cache
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover
*.dotCover

# Files built by Visual Studio
*.pyc
*.toc
*.tmp
*.bak
*.cache
*.ilk
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.exe

# Rider
.idea/
*.sln.iml

# Documentation
docs/

# Coverage results
coverage/

# Ignore obj directories under src and its subdirectories
../src/*/obj/
src/*/obj/